<div class="row">
  <div class="span6">
    <%= render :partial => "devise/shared/register_form" %>
  </div>
  <div class="span6">
    <%= render :partial => "devise/shared/login_form" %>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
