<h1>Unreviewed Applications</h1>

<p><strong>Total: <%= @apns.count %></strong></p>

<ul>
  <% @apns.each do |apn| %>
    <li>
      <%= link_to apn.profile.first_name + " " + apn.profile.last_name, profile_apn_path(apn.profile, apn) %>
      <%= apn.created_at %>
      
    </li>
  <% end %>
</ul>
