<h1>Unreviewed Applications</h1>

<p><strong>Total: <%= @apns.count %></strong></p>

<table class="table table-striped table-hover ">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Created</th>
  <% @apns.each do |apn| %>
    <tr>
      <td><%= link_to apn.profile.first_name + " " + apn.profile.last_name, new_review_path(apn) %></td>
      <td><%= apn.created_at %></td>
  <% end %>
  </tbody>
</table>
