<a href='/'>Index</a>
<h2>Your Application:</h2>

<dl class="dl-horizontal">
<% @apn_display_attributes.each do |key, value| %>
  <dt><%= key.capitalize %></dt>
  <dd><%= value.to_s %></dd>
<% end %>
</dl>
<p><%= link_to "Edit Your Application", [:edit, @profile, @apn] %></p>
<%= link_to "Delete Your Application", [@profile, @apn], method: :delete,
  confirm: "Are you sure you want to delete your application?" %>
