/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
// @import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Fjalla+One);

$sansFontFamily: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$baseFontFamily: $sansFontFamily;
$baseFontSize: 16px;
$btnPrimaryBackground: #049cdb;
.nav { height: 55px; font-size: 20px; }
.nav li { line-height: 31px; } // height of image below
textarea { width:300px; }
// $navbarBackground: #2b6c90;
// $navbarBackgroundHighlight: #429fc6;

@import "bootstrap";
$dtWidth: 200px;
$footerHeight: 200px;
.navbar-inner { background-image: url(/assets/nav_bg.png); }
.navbar .brand { padding: 8px 0 0 20px; }


footer { 
  background: #CF2730; 
  color: $white; 
  height: $footerHeight;
  margin-top: 20px;
  
  a { 
    color: $white; 
    text-decoration: underline;
  }
}

.footer {
  text-align: center;
  padding-top: ($footerHeight/2)
}


.long dd {
  padding-bottom: 1em;
}

#reviewForm.affix {
    top: 10px;
}

#reviewForm.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 210;
}
