

<!-- If updating tag input field to be a token field, remember that on the Review Dashboard, the tags are deliminted by commas, so commas should be stripped from tags (or indicate another tag) -->

 <%= f.input :tag_list, label: "Tags", input_html: { rows: 3, class: "span2", multiple: true }  %>
    <!-- <button id = "add_tags">Add tags</button> -->
<%= f.label :tag_list, "Tags" %><br>
<%= f.collection_select :tag_list, Tags.order(:name), :id, :name, {}, {multiple: true}
