<h1>Reviewing <%= @apn.profile.first_name %>'s profile</h1>

<%= render 'apn_form' %>
<%= render 'form' %>

<%= link_to 'Reviews Dashboard', reviews_path, class: "btn" %>


<% (0..5).each do %>
  <br>
<% end %>
